---
import Header from "../components/Header.astro";
import Tags from "../components/Tags.astro";
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <div>
    <p>Published on: {frontmatter.pubDate.toString().slice(0, 10)}</p>
    <h3><em>{frontmatter.description}</em></h3>
    <p>Written by {frontmatter.author}</p>
    <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />

    <Tags tags={frontmatter.tags}/>
    <slot />
  </div>
</BaseLayout>
